### AL ###
# Template for AL projects for Dynamics 365 Business Central
# launch.json folder
.vscode/
# Cache folder
.alcache/
# Symbols folder
.alpackages/
# Snapshots folder
.snapshots/
# Testing Output folder
.output/
# Extension App-file
*.app
# Rapid Application Development File
rad.json
# Translation Base-file
*.g.xlf
# License-file
*.flf
# Test results file
TestResults.xml

# Project-specific
venv/
venv*/
data/*
temp/*
logs/*
*.log
client/node_modules/
dist/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env/
.envrc
.venv/
env/
ENV/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml

# Type checkers
.mypy_cache/
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs / editors
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# dotenv environment variables
.env
